
.icon-aside:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desplegable:before { content: '\f103'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
